<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome Screen</title>
    </head>
    <body>
        <h1>Account Info</h1>
        <p>(Password-Protected)</p>
    </body>
</html>